body {
  width: 1350px;
}

.logo {
  width: 80px;
  height: 40px;
  fill: #f1641e !important;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

header .container1 {
  display: flex;
  align-items: center;
}

header .container2 {
  display: flex;
}

header .container2 ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header form button {
  margin-left: -5px;
  border: 2px solid black;
  border-radius: 0 25px 25px 0;
  border-left: none;
  background-color: none;
}
header form input {
  border: 2px solid black;
  border-radius: 25px 0 0 25px;
  margin-right: 0;
  height: 50px;
  border-right: none;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
